* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chatbot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  transition: 2000ms;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  animation-duration: 1000ms;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.chatbot_ask_questions {
  width: 40%;
  height: 60%;
  position: fixed;
  background: #f9f9f9;
  transition: 2000ms;
  bottom: 20px;
  right: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  animation-name: openbot;
  z-index: 11111;
  animation-duration: 1000ms;
}
@keyframes openbot {
  0% {
    width: 0%;
    height: 30px;
  }
  100% {
    width: 40%;
    height: 60%;
  }
}
.message_box_chatbot {
  width: 90%;
  background: #f9f9f9;
  margin-left: 5%;
  height: 85%;
  margin-top: 1%;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.chatbot_popup_message {
  width: 100%;
  height: 100px;
  text-align: left;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid purple;
  padding-right: 5px;
}
.query_btn {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: purple;
  color: aliceblue;
  margin-right: 10px;
  border: none;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.response_of_bot {
  padding: 10px 10px;
}
.response_of_bot {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #fff;
  border: 1px solid purple;
  margin-top: 10px;
}
@media screen and (max-width: 1000px) {
  .chatbot_ask_questions {
    width: 70%;
    height: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
    z-index: 11111;
    transition: 2000ms;
    bottom: 20px;
    right: 20px;
    animation-name: openbot;
    animation-duration: 1000ms;
  }
  @keyframes openbot {
    0% {
      width: 0%;
      height: 30px;
    }
    100% {
      width: 70%;
      height: 60%;
    }
  }
}
@media screen and (max-width: 500px) {
  .chatbot_ask_questions {
    width: 90%;
    height: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
    transition: 2000ms;
    z-index: 11111;
    bottom: 20px;
    right: 20px;
    animation-name: openbot;
    animation-duration: 1000ms;
  }
  .chatbot_popup_message {
    width: 100%;
    height: 150px;
    text-align: left;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid purple;
    padding-right: 5px;
  }
  @keyframes openbot {
    0% {
      width: 0%;
      height: 30px;
    }
    100% {
      width: 90%;
      height: 60%;
    }
  }
  .chatbot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    transition: 2000ms;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    animation-duration: 1000ms;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}
