*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent_grid_discover{
    width: 100%;
    height: 1060px;
    overflow: hidden;
    padding-top: 30px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.grid_discover_discover{
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,500px);
    gap: 1%;
    background: #f9f9f9;
    padding-bottom: 50px;
}
.card_discover_discover{
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
}
.card_discover_discover:hover{
    width: 101%;
    height: 100%;
    transition: 500ms;
}
.card_discover_discover img{
    width: 100%;
    height: 60%;
}
.no_found{
    width: 100%;
    height: 70vh;
    display: flex;
    background: #fff;
    align-items: center;
    text-align: center;
}
.no_found p{
    width: 100%;
    font-size: large;
    text-align: center;
}
.pagination{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.btn_pagination{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #2b1055;
    color: #fff;
}
.btn_pagination:hover{
    background: #7597de;
    color: #2b1055;
}
.btn_pagination_disabled{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #7597de;
    color: #2b1055;
}
.current_page{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #2b1055;
    border: 1px solid #2b1055;
    border-radius: 10px;
}
.results_for_title{
    width: 100%;
    height: 70px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    padding-left: 5%;
    padding-top: 30px;
    color: #2b1055;
    background: #fff;
}
@media screen and (max-width:1000px) {
    .parent_grid_discover{
        width: 100%;
        height: 2100px;
        padding-top: 30px;
        background: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .grid_discover_discover{
        width: 90%;
        height:100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,500px);
        gap: 1%;
        background: #f9f9f9;
        padding-bottom: 100px;
    }
}
@media screen and (max-width:500px) {
    .parent_grid_discover{
        width: 100%;
        height: 4100px;
        padding-top: 30px;
        background: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .grid_discover_discover{
        width: 90%;
        height:100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,500px);
        gap: 0.1%;
        background: #f9f9f9;
        padding-bottom: 50px;
    }
}